MODEL_ZIP_URL=https://drive.usercontent.google.com/download?id=1fxTFkjo2jvmz9k6vesDbCeucQjGRojLj&export=download&authuser=0&confirm=t&uuid=4a7bcb2a-7391-445e-86a6-060b7503d6c9&at=AN_67v0G7YEwLsFuqX52PVDMecVP%3A1727988066581
GRAPH_DATA_URL=https://dvn-cloud.s3.amazonaws.com/10.7910/DVN/IXA7BM/1805e679c4c-72137dbedbf1?response-content-disposition=attachment%3B%20filename%2A%3DUTF-8%27%27kg.csv&response-content-type=text%2Fcsv&X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Date=20241003T204240Z&X-Amz-SignedHeaders=host&X-Amz-Expires=3600&X-Amz-Credential=AKIAIEJ3NV7UYCSRJC7A%2F20241003%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Signature=287af25ab7dc3c691c7aa9fcca093c9652a7814c1e6e5c314829e17a6504588a
KG_CSV_URL=https://dvn-cloud.s3.amazonaws.com/10.7910/DVN/IXA7BM/1805e679c4c-72137dbedbf1?response-content-disposition=attachment%3B%20filename%2A%3DUTF-8%27%27kg.csv&response-content-type=text%2Fcsv&X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Date=20241007T075549Z&X-Amz-SignedHeaders=host&X-Amz-Expires=3600&X-Amz-Credential=AKIAIEJ3NV7UYCSRJC7A%2F20241007%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Signature=0e04af054b75fd6928054d2209e3c1826d47fbf68f5a4898e783166684582cd8
NODES_CSV_URL=https://dvn-cloud.s3.amazonaws.com/10.7910/DVN/IXA7BM/1805e69f00e-fcf0acc588bb.orig?response-content-disposition=attachment%3B%20filename%2A%3DUTF-8%27%27nodes.csv&response-content-type=text%2Fcsv&X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Date=20241007T081502Z&X-Amz-SignedHeaders=host&X-Amz-Expires=3600&X-Amz-Credential=AKIAIEJ3NV7UYCSRJC7A%2F20241007%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Signature=fb42acf98df1950a329a3555a9f13a10157ea2746c6e29ee87ff538e4ca2a1c5
EDGES_CSV_URL=https://dvn-cloud.s3.amazonaws.com/10.7910/DVN/IXA7BM/1805e69de19-31377b621f41?response-content-disposition=attachment%3B%20filename%2A%3DUTF-8%27%27edges.csv&response-content-type=text%2Fcsv&X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Date=20241007T081358Z&X-Amz-SignedHeaders=host&X-Amz-Expires=3600&X-Amz-Credential=AKIAIEJ3NV7UYCSRJC7A%2F20241007%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Signature=36e39ecbb4e885d09a9b2a6945f8311af55cd72972b09fb7458ae3de95d35488
